jenkins/usr/share/jenkins/ref/plugins/*
jenkins/var/jenkins_home/users/admin
jenkins/var/jenkins_home/jobs/docker-ci/branches
jenkins/var/jenkins_home/jobs/docker-ci/indexing
jenkins/var/jenkins_home/jobs/docker-ci/state.xml
node_modules/*
npm-debug.log
