{
    "tls": true,
    "tlscacert": "/etc/pki/tls/certs/ca/crt",
    "tlscert": "/etc/pki/tls/certs/docker.crt",
    "tlskey": "/etc/pki/tls/private/docker.key",
    "hosts": [
        "tcp://0.0.0.0:2376",
        "unix:///var/run/docker.sock"
    ]
}
