<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>kieran bamforth</fullName>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAABwvRRDmae83FnWG8Vdj/sZlgHuiJ+2lK6U4ZtsJuYTVYLu9L3s67wKDpS0+iYLxqOEtxStMxtQBh6dvD5rgjquPYKqy2ClHXhxBufZPb4SguD8N7UAjKBuorR2N5UABPGC4GjAVz5zoB4Jrfh4KzA1NE18aauwKPuWkTi9l1WgOmI=}</apiToken>
    </jenkins.security.ApiTokenProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>All</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>false</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>#jbcrypt:$2a$10$s7Nv.W44GFyKdvl94k8J0u5ca.HAnLEYPXQNd76nk8cYarYSUQEPq</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>authenticated</string>
      </roles>
      <timestamp>1488751387817</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
  </properties>
</user>